@page
@model IndexPage

@{
    ViewData["Title"] = "AutoWriter | Upload";
}

<div>
    <h1>Upload source material</h1>
    <p>
        Before you can generate writing, you will need to upload some source material!
    </p>
    <form method="post">
            <textarea name="content"></textarea>
            @if (@Model.Data.TextWasEmpty)
            {
                <span class="error">You can't submit an empty source</span>
            }
        <input type="submit" value="Upload" />
    </form>

    <h1>Previously uploaded source material</h1>
    @if (@Model.Data.Sources.Any())
    {
        @foreach (var source in @Model.Data.Sources)
        {
            var created = source.Created.ToLocalTime();
            <div>
                <p>Uploaded on @created.ToString("D") at @created.ToString("t") (<a href="/upload/details?id=@source.Id">details</a>)</p>
                <blockquote>@source.Content</blockquote>
            </div>
        }
    }
    else
    {
        <p>Nothing has been uploaded yet</p>
    }
</div>
