@page
@model IndexPage

@{
    ViewData["Title"] = "AutoWriter | Upload";
}

<div>
    <h1>Upload source material</h1>
    <p>
        Before you can generate writing, you will need to upload some source material!
    </p>
    <form method="post">
        <fieldset>
            <legend>Upload source material</legend>
            <textarea name="text"></textarea>
            <input type="submit" value="Upload" />
        </fieldset>
    </form>

    <h1>Previously uploaded source material</h1>
    @if (@Model.Data.SourceMaterials.Any())
    {
        @foreach (var sourceMaterial in @Model.Data.SourceMaterials)
        {
            var created = sourceMaterial.Created.ToLocalTime();
            <div>
                <p>Uploaded on @created.ToString("D") at @created.ToString("T")</p>
                <blockquote>@sourceMaterial.Content</blockquote>
            </div>
        }
    }
    else
    {
        <p>Nothing has been uploaded yet</p>
    }
</div>
