@page
@model IndexPage

@{
    ViewData["Title"] = "AutoWriter | Upload";
}

<div>
    <h1>Upload source material</h1>
    <p>
        Before you can generate writing, you will need to upload some source material!
    </p>
    <form method="post">
        <fieldset>
            <legend>Upload source material</legend>
            <textarea name="text"></textarea>
            <input type="submit" value="Upload" />
        </fieldset>
    </form>

    <h1>Previous uploads</h1>
    @if (@Model.Data.Writings.Any())
    {
        @foreach (var upload in @Model.Data.Writings)
        {
            <div>
                <p>Uploaded on @upload.Created.ToString("D") at @upload.Created.ToString("T")</p>
                <blockquote>@upload.Content</blockquote>
            </div>
        }
    }
    else
    {
        <p>Nothing has been uploaded yet</p>
    }
</div>
